body {
    font-family: Arial;
    background: #f4f7ff;
}

.container {
    width: 450px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
}

table {
    width: 100%;
    margin-top: 15px;
}
